/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: black;
    --bg-menu: #F76E33;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}

/* LAYOUT */

.menu{
    margin-top: 20%;
}
.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 80%;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX 

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}
*/

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 7px 0 20px 38px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace a {
    
    text-decoration: none;
    color: var(--blanco);
}

.menu .enlace span {

    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

/*SEPARADOR*/
#separador
{
    width: 81em;
    height: 19.2em;
    margin-left: 10.4%;
    margin-top: -57.2%;
}

/* CARD */
.card__copy
{
    margin-top: 20px;
}

.card__container
{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25%;
}

.card__item
{
    padding: 20px;
    background: rgb(201, 252, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 21%;
}

.card__picture
{
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangulo
{
    margin-top: 20px;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title
{
    margin: 20px 0;
    font-size: 1.5rem;
}

.card__paragraph
{
    font-weight: 300;
    margin-bottom: 20px;
}
img.card-img-top 
{
    width: 43%;
}
/*MODAL*/
.modal
{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    
    padding-top: 200px;
    display: none;
}
.contenidoModal
{
    background-color: #FFFFFF;
    width: 53%;
    position: relative;
    padding: 1rem;
    margin-left: 26%;
}

.contenidoModal .form-group 
{
    width: 100%;
}

/*CERRAR MODAL*/
.cerrarCirculo
{
    font-size: 2rem;
    float: right;  
}
.cerrarCirculo:hover
{
    cursor: pointer;
}
.cerrarCirculo2{
    font-size: 2rem;
    float: right;  
}
.cerrarCirculo2:hover
{
    cursor: pointer;
}
.cerrarTriangulo
{
    font-size: 2rem;
    float: right;  
}
.cerrarTriangulo:hover
{
    cursor: pointer;
}
.cerrarTriangulo2
{
    font-size: 2rem;
    float: right;  
}
.cerrarTriangulo2:hover
{
    cursor: pointer;
}
.cerrarCuadrado
{
    font-size: 2rem;
    float: right;  
}
.cerrarCuadrado:hover
{
    cursor: pointer;
}
.cerrarCuadrado2
{
    font-size: 2rem;
    float: right;  
}
.cerrarCuadrado2:hover
{
    cursor: pointer;
}
.cerrarRectangulo
{
    font-size: 2rem;
    float: right;  
}
.cerrarRectangulo:hover
{
    cursor: pointer;
}
.cerrarRectangulo2
{
    font-size: 2rem;
    float: right;  
}
.cerrarRectangulo2:hover
{
    cursor: pointer;
}
#circuloArea
{
    margin-top: 4%;
}
.diseno
{
    margin-top: 2%;
    margin-left: 84%;
}
#trianguloArea
{
    margin-top: 4%;
}
#cuadradoArea
{
    margin-top: 4%;
}
#rectanguloArea
{
    margin-top: 4%;
}
#alturaRectangulo
{
    margin-top: 2%;
}
#alturaRectangulo2
{
    margin-top: 2%; 
}
#lado2
{
    margin-top: 2%; 
}
#lado3
{
    margin-top: 2%; 
}
#baseTriangulo
{
    margin-top: 2%; 
}
#alturaTriangulo
{
    margin-top: 2%; 
}